.contenedorHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color:blanchedalmond;

}

.contenedorHeader h3{
    padding-left: 10px;
    color:brown;
}

.contenedorHeader h3:hover{
    padding-left: 10px;
    color:rgb(227, 21, 21);
}

a{
    text-decoration: none;
}

.contenedorFooter{
    width: 100%;
    border:solid brown;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: row;
    
}

.boxFooter{
    border: solid burlywood;
    width:33.3%;
    text-align: justify;
    padding: 20px;
    color: brown;
}

.boxFooter img{
    width:30px;
    height: 30px;

}
.boxItems{
    display: flex;
    align-items: center;
}

.boxItems img{
    padding-right: 15px;
}

.boxItems a:hover{
    color: rgb(227, 21, 21);
}

.boxItems a{
    color: brown;
}

.miniBox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.miniBox a{
    color: brown
}

.miniBox a:hover{
    color: rgb(227, 21, 21);
}

.miniBox i{
    padding-right: 15px;
} 

.contenedor{
    padding-left: 200px;
    padding-right: 200px;
}

body{
    padding: 0%;
    margin: 0%;
}

table{
    width: 100%;
}

table,th,tr{
    text-align: center;
}

.data1{
    background-color: rgb(166, 123, 206);
    height: 50px;
}

.data2{
    background-color: rgb(123, 152, 206);
    height: 50px;
}

.data3{
    background-color:  rgb(166, 123, 206);
    height: 50px;
}

.titulo{
    background-color: rgb(137, 226, 182);
    height: 30px;
}