.contenedorHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color:blanchedalmond;

}

.contenedorHeader h3{
    padding-left: 10px;
    color:brown;
}

.contenedorHeader h3:hover{
    padding-left: 10px;
    color:rgb(227, 21, 21);
}

a{
    text-decoration: none;
}